<%= form_with model: Comment, url: user_post_comments_path, class:"create-comment", method: :post do |form|%>
  <h1>Create a new comment </h1>
  <br>
  <div>
    <h2>
      <%= form.label :text, "Text", class:'text-label' %>
    </h2>
    <%= form.text_area :text, placeholder: 'Write your post...', class:"text-input" %>
  <div>

  <%= form.submit "Submit Post", class:"submit-btn", id:"post-btn" %>
<% end %>