<div class="all-users">
  <% @users.each do |user| %>
    <div class="user">
      <img src="<%= user.photo %>" alt="User-photo" class="user-photo">
      <div class="user-info">
        <h1><%= user.name%></h1>
        <p class="posts-number">Number of posts: <%= user.posts_counter %></p>
      </div>
    </div>
  <% end %>
<div>